.usa-nav {
    @include respond-to(951px){
        padding-top: 0;
        li {width: 16.6%;}
    }    
}

.usa-nav-link {
    &:hover {
        span{
            @include respond-to(951px){
                border-bottom: 0;
            }        
        }   
    }
}

.usa-navbar {border-bottom: none;}

.usa-nav-primary{
    li {
        a {
            &:hover {
                @include respond-to(951px){
                    border-bottom: 0.7rem solid $color-primary-blue;
                }
            }
            @include respond-to(951px){
                border-bottom: 0.7rem solid white;
            }
        }
    }
}