body {
    background-color: $color-hhs-primary-lt-gray;
}

footer.usa-footer, footer.inside_hhs-footer, .usa-footer-primary-section, .usa-footer .usa-footer-primary-link {
    background-color: $color-bkgd-dk-gray;
    color: $color-bkgd-md-gray;
    text-decoration: none;
    a {
        color: $color-bkgd-md-gray;
        font-weight: normal;
        &:hover {
            text-decoration: underline;
        }
    }
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height:1px;
    overflow: hidden;    
}

.usa-alert {
    margin-top: 0;
}

.hhs-content {
    background: white;
    padding: 1rem;
}