body {
    background-color: #EEEEFF;
}

main{
    float:left;
    clear:both;
    position: relative;
    width:100%;
}

/** two-col articles **/
.node__content {
    position: relative;
    width: 100%;
}
.node_article_col_1 {
    width: 50%;
    position: absolute;
    left:0px;
    background-color: #0c97ed;
}
.node_article_col_2 {
    width: 50%;
    position: absolute;
    margin-left: 50%;
    background-color: #0048c8;
}

/** 3 COL common **/
.layout-sidebar-first{
    float: left;
    background-color: rgba(0, 128, 0, 0.38);
}
.layout-sidebar-second{
    float:left;
    background-color: rgba(128, 0, 128, 0.25);
}
.layout-content{
    float:left;
    background-color: rgba(0, 0, 255, 0.28);
}

/** 3 COL aBc **/
body.layout-three-col .layout-sidebar-first {
    width: 25%;
    position: absolute;
    left:0px;
    background-color: rgba(128, 0, 128, 0.25);
}
body.layout-three-col .layout-content{
    width:50%;
    margin-left:25%;
    background-color: rgba(0, 0, 255, 0.28);
}
body.layout-three-col .layout-sidebar-second{
    width: 25%;
    background-color: rgba(0, 128, 0, 0.38);
}

/** 2 COL - aB **/
body.layout-two-col-first .layout-sidebar-first {
    width: 25%;
    position: absolute;
    left:0px;
    background-color: rgba(128, 0, 128, 0.25);
}
body.layout-two-col-first .layout-content{
    width:75%;
    margin-left:25%;
    background-color: rgba(0, 0, 255, 0.28);
}

/** 2 COL - Bc **/
body.layout-two-col-second .layout-content{
    width:75%;
    background-color: rgba(0, 0, 255, 0.28);
}
body.layout-two-col-second .layout-sidebar-second{
    width: 25%;
    background-color: rgba(0, 128, 0, 0.38);
}