//from Project H style guide https://www.hhs.gov/web/policies-and-standards/style-guide/color-palette/index.html

$color-hhs-primary-blue: #185394;
$color-hhs-primary-dk-blue: #214872;
$color-hhs-primary-md-blue: #d1edfc;
$color-hhs-primary-lt-blue: #edf8ff;
$color-hhs-primary-lt-gray: #f6f7f7;
$color-hhs-primary-red: #c94747;
$color-hhs-primary-dk-red: #b24444;
$color-hhs-primary-green: #19826e;
$color-hhs-primary-dk-green: #1d7665;
$color-hhs-primary-purple: #77508e;
$color-hhs-primary-dk-purple: #644b74;
$color-primary-blue: #127ab5;
$color-primary-dk-blue: #176ea3;
$color-primary-dk-brown: #8e5a21;
$color-accent-dk-yellow: #fbae17;
$color-accent-md-yellow: #fbbb3d;
$color-accent-lt-yellow: #f7d480;
$color-bkgd-dk-gray: #333332;
$color-bkgd-md-gray: #b3b3b3;
$color-bkgd-lt-gray: #e9eaeb;
$color-lt-text: white;
$color-unvisited: #0053cc;
$color-visited: #6f57b5;

$hhs-font: Helvetica, Arial, sans-serif;

@mixin primary-bttn {
    background-color: $color-accent-md-yellow;
    border: 1px solid $color-accent-md-yellow;
    color: $color-primary-blue;
    text-decoration: none;
    &:hover {
        background-color: $color-primary-dk-brown;
        border: 1px solid $color-primary-dk-brown;
        color: $color-lt-text;
        text-decoration: none;
    }    
}

@mixin primary-bttn-2 {
    background-color: $color-hhs-primary-blue;
    border: 1px solid $color-hhs-primary-blue;
    color: $color-lt-text;
    text-decoration: none;
    &:hover {
        background-color: $color-hhs-primary-dk-blue;
        border: 1px solid $color-hhs-primary-dk-blue;
        text-decoration: none;
    }    
}

@mixin primary-bttn-inactive {
    background-color: $color-bkgd-lt-gray;
    border: 1px solid $color-bkgd-lt-gray;
    color: $color-bkgd-dk-gray;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: $color-bkgd-lt-gray;
        border: 1px solid $color-bkgd-lt-gray;
        color: $color-bkgd-dk-gray;
        text-decoration: none;
    }
}

@mixin secondary-bttn {
    background-color: white;
    border: 1px solid $color-hhs-primary-blue;
    color: $color-hhs-primary-blue;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: $color-hhs-primary-md-blue;
        border: 1px solid $color-hhs-primary-blue;
        color: $color-primary-blue;
        text-decoration: none;
    }
}

@mixin secondary-bttn-2 {
    background-color: $color-bkgd-lt-gray;
    border: 1px solid $color-hhs-primary-blue;
    color: $color-primary-blue;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: $color-hhs-primary-md-blue;
        border: 1px solid $color-hhs-primary-blue;
        color: $color-hhs-primary-blue;
        text-decoration: none;
    }
}

@mixin secondary-bttn-3 {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: $color-bkgd-md-gray;
        border: 1px solid white;
        color: white;
        text-decoration: none;
    }
}

@mixin secondary-bttn-inactive {
    background-color: transparent;
    border: 1px solid $color-bkgd-md-gray;
    color: $color-bkgd-md-gray;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: transparent;
        border: 1px solid $color-bkgd-md-gray;
        color: $color-bkgd-md-gray;
        text-decoration: none;
    }
}

